

h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 80px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  flex-direction: row;
  animation: color-change 1s infinite;


}
@keyframes color-change {
  0% { color: pink; }
  25% { color: rgb(207, 213, 124); }
  50% { color: rgb(124, 124, 213); }
  75% { color: rgb(213, 124, 124); }
  100% { color: rgb(218, 117, 117); }
}
h2{
  color: rgb(224, 170, 170);
  text-align: center;
  font-size: 27px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  flex-direction: row;
  animation: color-change 1s infinite;
  position: absolute;
  top: -20px;
  text-decoration: none;
  animation: color-change 1s infinite;

}
a:visited{
  text-decoration: none;
  color: rgb(224, 170, 170);
}


body{
  background-color: rgb(202, 225, 199);
  font-size: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  color: rgb(0, 0, 0);
  animation: color-change 1s infinite;


}

#slideshow-container{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  text-align: center;
  
}

#slideshow-container article{
  width: 30%;
  

}

img{
  max-width: 100%;

}
#button1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 90%;
    font-size: large;
    text-align: center;
    margin-left: 550px;
    background-color: rgb(168, 187, 82);
    display: inline-block;
    width: 40px;
    height: 40px;
    
}
#button2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(178, 179, 171);
    display: inline-block;
    width: 40px;
    height: 40px;
    

}
#button3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 40px;
    height: 40px;
    animation: color-change 1s infinite;


}
#button4{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(168, 187, 82);
    display: inline-block;
    margin-left: 400px;
    width: 80px;
    height: 80px;



}
#button5{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(178, 179, 171);
    display: inline-block;
    width: 80px;
    height: 80px;


}
#button6{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 80px;
    height: 80px;


}
#button7{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(92, 81, 64);
    display: inline-block;
    width: 40px;
    height: 40px;


}
#button8{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(92, 81, 64);
    display: inline-block;
    width: 80px;
    height: 80px;
    
}
#button8{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(92, 81, 64);
    display: inline-block;
    width: 80px;
    height: 80px;
    
}
#button9{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(27, 105, 133);
    display: inline-block;
    width: 40px;
    height: 40px;
    
}
#button10{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(27, 105, 133);
    display: inline-block;
    width: 80px;
    height: 80px;
    
}
#button11{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(208, 146, 178);
    display: inline-block;
    width: 40px;
    height: 40px;
    
}
#button12{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(208, 146, 178);
    display: inline-block;
    width: 80px;
    height: 80px;
    
}
#button13{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: orange;
    display: inline-block;
    width: 40px;
    height: 40px;
    
}
#button14{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: orange;
    display: inline-block;
    width: 80px;
    height: 80px;
    
}



