

body {
    background-color: gray;
    min-height: 100vh;
    padding: 80px 20px;
    
}



.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 174%;
    background-image: radial-gradient(circle,
    transparent 0px, rgba(0,0,0,0.75) 0px);
}
header {
    font-size: 120px;
    color: black(163, 38, 38, 0.836);
    text-align: left;
    font-family: 'Cormorant',bold, italic;
    font-style: bold;


}
#one {
    font-size: 40px;
    color: rgb(97, 96, 96);
    font-family: 'Cormorant', serif; 
    text-align: left;   
}
#two {
    font-size: 40px;
    color: rgb(97, 96, 96);
    font-family: 'Cormorant', serif; 
    text-align: left;  

}
#three {
    font-size: 40px;
    color: rgb(163, 163, 163);
    font-family: 'Cormorant', serif; 
    text-align: left;  
    text-decoration: none;
}

div {
    cursor:auto;
}
