html, body{
    min-height: 100%;
}
body {
    background: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1349,w_2400,x_0,y_134/f_auto,q_auto,w_1100/v1633552438/shape/mentalfloss/651042-gettyimages-1326020302.jpg) center center no-repeat; 
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width:100vh;
    margin: 0px;
    background-size: cover;


}
.content{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action {
    text-align: center;
}
.call-to-action h1 {
    font-family: 'Rowdies', cursive;
    color:white;
    text-transform:uppercase;
    font-size: 50px;


}
.call-to-action a {
    background:white;
    padding: 1 rem;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-transform:uppercase;

}

@media (max-width: 813) {
    .call-to-action h1 {
        font-size: 80px;

    }
     

}