

h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 80px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  flex-direction: row;
  animation: color-change 1s infinite;


}
@keyframes color-change {
  0% { color: pink; }
  25% { color: rgb(207, 213, 124); }
  50% { color: rgb(124, 124, 213); }
  75% { color: rgb(213, 124, 124); }
  100% { color: rgb(218, 117, 117); }
}
.button {
  background-color: rgb(133, 89, 89);
  border: none;
  color: red;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

body{
  background-color: rgb(79, 35, 35);
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  animation: color-change 1s infinite;


}


#slideshow-container{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  text-align: center;
  
}

#slideshow-container article{
  width: 30%;
  

}

img{
  max-width: 100%;

}
#button1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin-left: 500px;
    background-color: rgb(168, 187, 82);
    display: inline-block;
    
}
#button2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(178, 179, 171);
    display: inline-block;
    

}
#button3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(255, 255, 255);
    display: inline-block;

}
#button4{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(168, 187, 82);
    display: inline-block;
    margin-left: 450px;



}
#button5{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(178, 179, 171);
    display: inline-block;


}
#button6{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(255, 255, 255);
    display: inline-block;


}
#button7{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(92, 81, 64);
    display: inline-block;


}
#button8{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(92, 81, 64);
    display: inline-block;
    
}
#button8{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(92, 81, 64);
    display: inline-block;
    
}
#button9{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(27, 105, 133);
    display: inline-block;
    
}
#button10{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(27, 105, 133);
    display: inline-block;
    
}
#button11{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(208, 146, 178);
    display: inline-block;
    
}
#button12{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: rgb(208, 146, 178);
    display: inline-block;
    
}
#button13{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: orange;
    display: inline-block;
    
}
#button14{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 60%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background-color: orange;
    display: inline-block;
    
}



