html {
  min-height: 100%;
}
body {
    font-family: Montserrat, sans-serif;
    height: 100%;
    background: black !important;
  }
  body, body * {
    cursor: none;
  }
  
  .shapes {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
  }
  .shape.shape-1 {
    background: rgb(236, 226, 132);
    width: 650px;
    height: 650px;
    margin: -325px 0 0 -325px;
    opacity: 50%;
  }
  .shape.shape-2 {
    background: #f7e99e;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
    opacity: 50%;

  }
  .shape.shape-3 {
    background: rgb(243, 238, 169);
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
    opacity: 50%;
  }
  
  .text {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: auto;
    width: 100vw;
    background: rgb(0, 0, 0);
    mix-blend-mode: screen;
  }
  
  h1 {
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
  }
  
  
  .cursor {
    position: fixed;
    background: yellow;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #e60023;
  }
  
  ::selection {
    color: #fff;
    background: #e60023;
  }
  #one {
    font-size: 23px;
    color: rgb(255, 255, 255);
    margin: 8px;
    text-align: left;
    margin:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  #two {
    font-size: 23px;
    color: rgb(218, 214, 214);
    margin: 8px;
    text-align: left;
    margin: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  #three {
    font-size: 45px;
    color: rgb(201, 201, 201);
    text-align: left;
    margin:50px;
  }
  #four {
    font-size: 23px;
    color: rgb(117, 117, 117);
    margin-left: 50px;
    text-align: left;
    
  }
  #five{
    font-size: 20px;
    color: rgb(97, 96, 96);
    margin: 0;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #six {
    font-size: 28px;
    color: rgb(170, 166, 166);
    margin: 70px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
  }
  #seven {
    font-size: 30px;
    color: rgb(117, 116, 116);
    margin-right: 35px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

  }
  #eight {
    font-size: 15px;
    color: rgb(136, 133, 133);
    margin: 15px;
    text-align: justify;
  }
  #nine {
    font-size: 23px;
    color: rgb(141, 141, 141);
    margin: 100px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  #eleven {
    font-size: 34px;
    color: rgb(94, 88, 88);
    margin-right: 55px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #twelve {
    font-size: 25px;
    color: rgb(134, 131, 131);
    margin: 90px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #thirteen {
    font-size: 29px;
    color: rgb(168, 164, 164);
    margin-right: 45px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  #confused {
    font-size: 26px;
    color: rgb(250, 243, 243);
    margin: 230px;
    margin-left: 200px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  }
  #sixteen {
    font-size: 15px;
    color: rgb(10, 10, 10);
    margin: 0;
    text-align: center;
  }
  #seventeen {
    font-size: 22px;
    color: rgb(100, 99, 99);
    margin: 50px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #nineteen {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: right;
    position:relative;
    left:1280px;
    top:260px;


  }
  
  #fifteen {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    position:relative;
    right:50px;

  }
  #twenty {
    font-size: 33px;
    color: rgb(182, 182, 182);
    margin: 80px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

  }
  #twentyone {
    font-size: 9px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: justify;
  

  }
  #title {
    font-size: 19px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
    position: relative;
    left: 75px;
  }
  #name {
    font-size: 3px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
    position: relative;
    left: 50px;

  }
  #concept{
    font-size: 17px;
    color: rgb(182, 182, 182);
    margin: 50px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

a:visited {
  color: yellow;
}

@media (min-width: 419px) {
  h1 {
    font-size: 100px;
  }
}
@media (min-width: 813px) {
  .text {
    flex-direction: row;
  }
}
@media (min-width: 1430px) {
  h1 {
    font-size: 100px;
  }
}

   
  
  
  
  
  