body {
    font-family: Montserrat, sans-serif;
  }
  body, body * {
    cursor: none;
  }
  
  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: black;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
  }
  .shape.shape-1 {
    background: rgb(236, 226, 132);
    width: 650px;
    height: 650px;
    margin: -325px 0 0 -325px;
  }
  .shape.shape-2 {
    background: #fce3b1;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
  }
  .shape.shape-3 {
    background: rgb(243, 238, 169);
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
  }
  
  .text {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #fff;
    mix-blend-mode: screen;
  }
  
  h1 {
    font-size: 100px;
    color: black;
    margin: 0;
    text-align: center;
  }
  
  @media (min-width: 419px) {
    h1 {
      font-size: 100px;
      font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
    }
  }
  @media (min-width: 1430px) {
    h1 {
      font-size: 100px;
    }
  }
  h2 {
    font-size: 20px;
    color: black;
    margin: 0;
    text-align: center;
  }
  #zero{
    font-size: 8px;
    color: red;
    margin: 0;
    text-align: right;
  }
  @media (min-width: 419px) {
    h2 {
      font-size: 20px;
      font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
    }
  }
  @media (min-width: 1430px) {
    h2 {
      font-size: 20px;
    }
  }
  
  .cursor {
    position: fixed;
    background: yellow;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #e60023;
  }
  
  ::selection {
    color: #fff;
    background: #e60023;
  }
  #one {
    font-size: 20px;
    color: black;
    margin: 0;
    text-align: center;
  }
  #two {
    font-size: 20px;
    color: black;
    margin: 0;
    text-align: center;
  }
  #three {
    font-size: 35px;
    color: rgb(36, 36, 36);
    margin: 0;
    text-align: center;
  }
  #four {
    font-size: 20px;
    color: rgb(75, 74, 74);
    margin: 0;
    text-align: center;
  }
  #five{
    font-size: 20px;
    color: rgb(97, 96, 96);
    margin: 0;
    text-align: left;
  }
  #six {
    font-size: 10px;
    color: rgb(97, 96, 96);
    margin: 0;
    text-align: left;
  }
  #seven {
    font-size: 30px;
    color: rgb(92, 90, 90);
    margin: 0;
    text-align: left;

  }
  #eight {
    font-size: 15px;
    color: rgb(92, 90, 90);
    margin: 0;
    text-align: center;
  }
  #nine {
    font-size: 15px;
    color: rgb(160, 159, 159);
    margin: 0;
    text-align: center;
  }
  #ten {
    font-size: 15px;
    color: rgb(170, 170, 170);
    margin: 0;
    text-align: center;
  }
  #eleven {
    font-size: 15px;
    color: rgb(196, 195, 195);
    margin: 0;
    text-align: center;
  }
  #twelve {
    font-size: 25px;
    color: rgb(68, 68, 68);
    margin: 0;
    text-align: center;
  }
  #thirteen {
    font-size: 10px;
    color: rgb(77, 76, 76);
    margin: 0;
    text-align: center;
  }
  #fourteen {
    font-size: 15px;
    color: rgb(88, 87, 87);
    margin: 0;
    text-align: center;
  }
  #fifteen {
    font-size: 15px;
    color: rgb(26, 25, 25);
    margin: 0;
    text-align: center;
  }
  #sixteen {
    font-size: 15px;
    color: rgb(10, 10, 10);
    margin: 0;
    text-align: center;
  }