body {
    font-family: Montserrat, sans-serif;
  }
  body, body * {
    cursor: none;
  }
  
  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: black;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
  }
  .shape.shape-1 {
    background: rgb(236, 226, 132);
    width: 650px;
    height: 650px;
    margin: -325px 0 0 -325px;
    opacity: 50%;
  }
  .shape.shape-2 {
    background: #f7e99e;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
    opacity: 50%;

  }
  .shape.shape-3 {
    background: rgb(243, 238, 169);
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
    opacity: 50%;
  }
  
  .text {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
    mix-blend-mode: screen;
  }
  
  h1 {
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
  }
  
  @media (min-width: 419px) {
    h1 {
      font-size: 100px;
      font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
    }
  }
  @media (min-width: 1430px) {
    h1 {
      font-size: 100px;
    }
  }
  
  
  @media (min-width: 419px) {
    h2 {
      font-size: 20px;
      font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
    }
  }
  @media (min-width: 1430px) {
    h2 {
      font-size: 20px;
    }
  }
  
  .cursor {
    position: fixed;
    background: yellow;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #e60023;
  }
  
  ::selection {
    color: #fff;
    background: #e60023;
  }
  #one {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
  }
  #two {
    font-size: 20px;
    color: rgb(218, 214, 214);
    margin: 0;
    text-align: center;
  }
  #three {
    font-size: 35px;
    color: rgb(201, 201, 201);
    margin: 0;
    text-align: center;
  }
  #four {
    font-size: 20px;
    color: rgb(117, 117, 117);
    margin: 0;
    text-align: center;
  }
  #five{
    font-size: 20px;
    color: rgb(97, 96, 96);
    margin: 0;
    text-align: left;
  }
  #six {
    font-size: 16px;
    color: rgb(146, 141, 141);
    margin: 0;
    text-align: left;
  }
  #seven {
    font-size: 27px;
    color: rgb(117, 116, 116);
    margin: 0;
    text-align: center;

  }
  #eight {
    font-size: 15px;
    color: rgb(136, 133, 133);
    margin: 0;
    text-align: center;
  }
  #nine {
    font-size: 15px;
    color: rgb(141, 141, 141);
    margin: 0;
    text-align: center;
  }
  #ten {
    font-size: 15px;
    color: rgb(124, 122, 122);
    margin: 0;
    text-align: center;
  }
  #eleven {
    font-size: 15px;
    color: rgb(94, 88, 88);
    margin: 0;
    text-align: center;
  }
  #twelve {
    font-size: 25px;
    color: rgb(134, 131, 131);
    margin: 0;
    text-align: center;
  }
  #thirteen {
    font-size: 10px;
    color: rgb(168, 164, 164);
    margin: 0;
    text-align: center;
  }
  #fourteen {
    font-size: 15px;
    color: rgb(145, 143, 143);
    margin: 0;
    text-align: center;
  }
  #fifteen {
    font-size: 15px;
    color: rgb(26, 25, 25);
    margin: 0;
    text-align: center;
  }
  #sixteen {
    font-size: 15px;
    color: rgb(10, 10, 10);
    margin: 0;
    text-align: center;
  }
  #seventeen {
    font-size: 25px;
    color: rgb(85, 84, 84);
    margin: 0;
    text-align: center;
  }
  #eighteen {
    font-size: 15px;
    color: rgb(128, 125, 125);
    margin: 0;
    text-align: center;
  }
  #nineteen {
    font-size: 20px;
    color: rgb(44, 44, 44);
    margin: 0;
    text-align: right;
    position:relative;
    left:1280px;
    top:260px;


  }
  
  #fifteen {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    position:relative;
    right:50px;

  }
  #twenty {
    font-size: 13px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
  

  }
  #twentyone {
    font-size: 9px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
  

  }
  #title {
    font-size: 19px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
    position: relative;
    left: 100px;
  }
  #name {
    font-size: 3px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
    position: relative;
    left: 50px;

  }
  #concept{
    font-size: 17px;
    color: rgb(182, 182, 182);
    margin: 0;
    text-align: center;
    
  }
  
  