body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
    padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  }
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  header{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      
  }
  .p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: white;
  }
  p:before{
    content: 'While you meditate, close your eyes and sit comfortably';
    font-size: 100%;
    animation-name: head;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes head {
    0% {font-size:100%; opacity:1;}
    25% {font-size:100%; opacity:0;}
    50% {font-size:100%; opacity:1;}
    65% {font-size:100%; opacity:0;}
    80% {font-size:100%; opacity:1; content: "Bring your attention to the feeling of your body sitting."}
    90% {font-size:10%; opacity:0;}
    100% {font-size:100%;opacity:1; content: "While you meditate, close your eyes and sit comfortably."}
}
  
  
  .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(125, 193, 180);
  }
  
  .base-timer__path-remaining.orange {
    color: rgb(125, 193, 180);
  }
  
  .base-timer__path-remaining.red {
    color: rgb(125, 193, 180);
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }