* {
    text-align: center;
    font-family: ivypresto-display, serif;

font-weight: 400;

font-style: normal;
background-image: url('https://data.whicdn.com/images/349052671/original.jpg');
}

h1 {
    text-align: center;
    font-family: ivypresto-display, serif;

font-weight: 400;

font-style: normal;
font-size: 50px;
color: white;
text-shadow: -7px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;


}
body{
    color: white;
    text-shadow: -7px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;

    
}
input{
    background-color:white ;
    font-size: 20px;
    color: white;
}
button{
    border-radius: 10px;
    font-size: 15px;
    color: white;
    position: absolute;
    top: 600px;
    text-align: center;
    left: 678px;
}
#story {
    font-size: 26px;
    text-align: center;
    font-family: ivypresto-display, serif;

font-weight: 400;

font-style: normal;
    
}
.but{
    position: absolute;
    left: 5px;
    top: 20px;
    width: 78px;
    height: 78px;
    border-radius: 50%;

  }


